<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093753986541-pp38j1uiaeljs4s8rb1neq7597v5qfd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093753986541-pp38j1uiaeljs4s8rb1neq7597v5qfd1</string>
	<key>API_KEY</key>
	<string>AIzaSyAm9bYoNPCg8vUAp1nEUMwk6EswzoniCyA</string>
	<key>GCM_SENDER_ID</key>
	<string>1093753986541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AuctionX</string>
	<key>PROJECT_ID</key>
	<string>auctionx-512cf</string>
	<key>STORAGE_BUCKET</key>
	<string>auctionx-512cf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093753986541:ios:79ebc7038ddb492aa9dbe4</string>
	<key>DATABASE_URL</key>
	<string>https://auctionx-512cf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>